@import "../styles/mixins";
.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  margin-block: 1rem;
  gap: 12px;
  padding-inline: 2rem;
}

.itemContainer {
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 12px;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  max-height: 208px;
  @include breakpoint(lg, max) {
    max-height: calc(208px / 1.5);
  }
  @include breakpoint(md, max) {
    max-height: calc(208px / 2);
  }
}

.imageContainer {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  @include breakpoint(lg, max) {
    img {
      width: 100%;
      height: calc(208px / 1.5);
    }
  }
  @include breakpoint(md, max) {
    img {
      width: 100%;
      height: calc(208px / 2);
    }
  }
}

.infoContainer {
  font-family: "Poppins", sans-serif;
  padding: 2em;
  flex: 1;
  overflow: hidden;
  font-size: clamp(8px, 1.2vw, 16px);
  h1 {
    margin: 0;
    text-transform: capitalize;
    line-height: 120%;
    font-size: 2em;
    color: rgba($color: #fff, $alpha: 0.9);
    font-weight: 500;
    letter-spacing: 2px;
  }
  span {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
  }
  p {
    color: rgba($color: #fff, $alpha: 0.9);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.description {
  max-width: 60%;
  max-height: 6vh;
  margin-top: 1.5em;
  @include breakpoint(md, max) {
    display: none;
  }
}
.movieInfo {
  display: flex;
  align-items: center;
}
.separator {
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 2ch;
  width: 2px;
  margin: 6px;
}
.arrowRight {
  margin-right: 4em;
  color: #fff;
  @include breakpoint(lg, max) {
    display: none;
  }
}
.backgroundImg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  background-color: gray;
  display: flex;
  filter: blur(124px) saturate(2);
}
